
@model BaseDataVM

<div>
    <form role="form" method="post" enctype="multipart/form-data">
        @Html.AntiForgeryToken()
        @Html.HiddenFor(o => o.ID)
        @Html.ValidationSummary(true)
        @Html.HiddenFor(m => m.CreateTime)
        @Html.HiddenFor(m => m.UpdateTime)
        <div class="form-group">
            <label for="type">type</label>
            @Html.TextBoxFor(item => item.Type, new { @class = "form-control col-6" })
            @Html.ValidationMessageFor(m => m.Type)
        </div>
        <div class="form-group">
            <label for="key">key</label>
            @Html.TextBoxFor(item => item.Key, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Key)
        </div>
        <div class="form-group col-6">
            <label for="value">value</label>
            @Html.TextBoxFor(item => item.Value, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Value)
        </div>
        @if (Model.Type == "PRODUCT_TYPE")
        {
        <div class="form-group">
            <label for="Icon">Icon</label>
            @if (!string.IsNullOrEmpty(Model.Icon))
            {
                @Html.HiddenFor(item => item.Icon)
                @Html.HiddenFor(item => item.IconData)
                <img id="IconPreview" src="@Model.IconData" height="60" width="60"/>
            }
            else
            {
                <img id="IconPreview" src="@Model.IconData" height="60" width="60" style="display:none" />
            }
            <input type="file" id="file" name="file" onchange="change()" />
        </div>
        }
        <div class="checkbox">
            <label>
                @Html.CheckBoxFor(item => item.IsDefault) isDefault
            </label>
        </div>
        <button type="submit" class="btn btn-default">submit</button>
        <a href="@Url.Action("Index", "BaseData")" class="btn btn-default">Cancel</a>
    </form>
</div>

<script type="text/javascript">
    function change() {
        var fileObject = document.getElementById('file')
        if (fileObject.files.length) {
            var url = window.URL.createObjectURL(fileObject.files[0])
            var img = document.getElementById("IconPreview")
            img.src = url
            img.style.display = "inline"
        }
    }
</script>
