@model List<BaseDataVM>
<div class="item">
    @{ await Html.RenderPartialAsync("_MessageBar"); }
    <div id="toolbar" class="btn-group">
        <a class="btn btn-default" href="@Url.Action("Add", "BaseData")">Add</a>
    </div>
    <div class="item-responsive ">
        <table class="table">
            <thead>
                <tr>
                    <th>Type</th>
                    <th>Key</th>
                    <th>Value</th>
                    <th>IsDefault</th>
                    <th>Edit/Delete</th>
                </tr>
            </thead><!--/thead-->
            <tbody>
                @if (Model != null && Model.Count > 0)
                {
                    foreach (var it in Model)
                    {
                        <tr>
                            <td>@it.Type</td>
                            <td>@it.Key</td>
                            <td>@it.Value</td>
                            <td>@it.IsDefault</td>
                            <td>
                                <a href="@Url.Action("Edit", "BaseData", new { id = it.ID})"><span class="item-status edit">Edit</span></a>
                                <br />
                                <a href="@Url.Action("Delete", "BaseData", new { id = it.ID})"><span class="item-status delete">Delete</span></a>
                            </td>
                        </tr>
                    }
                }
            </tbody><!--/tbody-->
        </table><!--/.table-->
    </div><!--/.table-responsive-->
</div><!--/.item-->